.userRegister{
    text-decoration: none;
    color: white !important; 
    font-weight: 600;

}

.userLogin{
    text-decoration: none;
    margin-left: 5px;
    color: white !important; 
    font-weight: 600;

}

.loginButton{
    margin-right: .25rem;
}


.navbar{
    background-color: #d9d9d9;
}


.easydoc{
    font-weight: bold;
    
}

.homename{
    text-decoration: none!important;
    color: black;

}
.homename:hover{
    text-decoration: none!important;
    color: black;
}
