
.userRegister{
    text-decoration: none;

}

.userLogin{
    text-decoration: none;
    margin-left: 5px;

}


.navbar{
    background-color: #d9d9d9;
}


.easydoc{
    font-weight: bold;
    
}

.easydoc{
    text-decoration: none;
    color: black;
}
